nav {
    height: 11vh;
    font-style: italic; 
}
nav h2{
  color: white;
  padding: 10px;
}
nav span{
  color: white;
}
nav li{
    padding: 20px;
}
body{
  /* background-color: rgb(232, 201, 117);  */
  background-color: rgb(249, 226, 196);
}
.display-2{
  color: rgb(0, 0, 0);
  font-style: italic;
  font-weight: 500;
}
.card{
  background-color: rgb(37, 37, 37);
  color: white;
}
.carousel-inner{
  height: calc(100vh - 74px);
}
.card-title{
  font-size: 25px;
  font-style: italic;
}